.list {
  padding: 0;
  background: var(--ion-color-dark);

  .list-header {
    padding: 0;
    margin-bottom: 30px;

    ion-label {
      font-size: 28px;
      font-weight: 600;
      padding-bottom: 5px;
    }

    ion-label::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      background-color: var(--ion-color-secondary);
      border-radius: 10px;
    }
  }

  .item {
    margin-bottom: 10px;

    .data {
      margin-left: 10px;

      h4 {
        margin: 0;

        font-size: 16px;
        font-weight: 500;
      }

      p {
        font-size: 12px;
        font-weight: 200;
      }
    }

    ion-label {
      font-size: 20px;
    }
  }
}
