<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-list class="list">
      <ion-list-header class="list-header">
        <ion-label>Contatos</ion-label>
      </ion-list-header>
      <ion-item class="item" *ngFor="let contact of list" routerLink="">
        <ion-avatar>
          <img [src]="contact.img" />
        </ion-avatar>
        <div class="data">
          <h4>{{ contact.name }}</h4>
          <p>{{ contact.email }}</p>
        </div>
        <ion-label slot="end">{{ contact.id }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
